@import 'tailwindcss';
html {
  font-size: 90%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}
